.container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
}

.flexList {
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0;

}

@media (min-width:800px) {
 
  .container{
    overflow-x: initial;
  }

  .flexList{
    flex-wrap: wrap;
    margin: 0 100px;
  }
}