.btn-default {
    width: 130px;
    height: 60px;
    background-color: var(--color-primary);
    color: var(--color-grey-0);

    :hover {
        background-color: var(--color-grey-100);
    }
}

.btn-medium {
    width: 130px;
    height: 40px;
    background-color: var(--color-primary);
    color: var(--color-grey-0);

    :hover {
        background-color: var(--color-grey-100);
    }
}