body {
    font-size: 14px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}


.Heading1,
.Heading2,
.Heading3 {
    font-weight: 700;
}

.Heading1 {
    font-size: 26px;
}

.Heading2 {
    font-size: 22px;
}

.Heading3 {
    font-size: 18px;
}

.Headline{
    font-size: 16px;
    font-weight: 600;
}

.Caption{
    font-size: 12px;
    font-weight: 400;
}